@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <meta charset="UTF-8" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Clock", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (res) {
                        $('#clock').html(res);
                    }
                });
            }, 1000);
        });
        
        //перенести кнопку в div plot
        $(document).ready(function () { //плот
            $('#content').on('click', '.plot-btn', function () {
                var id = $(this).parent().parent().attr('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("NewPlot", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (res) {

                        $('#'+id).html(res);
                    }
                });
            });
        });

        $(document).ready(function () { //tool
            $('#content').on('click', '.tool-btn', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("NewWindow", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (res) {
                        $('#content').append(res);
                    }
                });
            });
        });

        $(document).ready(function () { //drag off
            $('#content').on('click', '.drag-off-btn', function () {
                var id = $(this).parent().parent().attr('id');
                //$("#" + id).draggable().draggable('disable');
                $('#' + id).draggable().draggable('disable').resizable('disable').removeClass("ui-draggable ui-draggable-handle ui-resizable");
            });
        });

        $(document).ready(function () { //drag on
                $('#content').on('click', '.drag-on-btn', function () {
                    var id = $(this).parent().parent().attr('id');
                    console.log(id);
                $("#" + id).draggable().resizable();
                $("#" + id).draggable('enable').resizable('enable');
            });
        });

        $('.auto-btn').change(function () {
                setInterval(function () {
                    alet("al");
                    var id = $(this).parent().parent().attr('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("NewPlot", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (res) {
                        $('#'+id).html(res);
                    }
                });
            }, 1000);
        });

    </script>
</head>
<body>
    <div id="content">
        <button class="tool-btn">New Tool</button>
        <p id="clock"></p>
        @*<div id="draggable" class="ui-widget-content">
            <div class="border-up">
                <button class="close-btn">Close</button>
                <button class="drag-off-btn">DragOFF</button>
                <button class="drag-on-btn">DragON</button>
                <button class="close-btn">Close</button>
                <script>
                    $('#content').on('click', '.close-btn', function () {
                        var id = $(this).parent().parent().attr('id');
                        $("#" + id).hide();
                        console.log('#' + id);
                    });
                </script>
            </div>
            <p>Drag me around</p>
            <div id="plot_0">
                <button class="plot-btn">New Plot</button>
            </div>
        </div>*@
    </div>
</body>
